/* Mouse Scroll Icon */
.scroll-downs {
    position: absolute;
    top: 510px;
    right: 15px;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
}
  
.mousey {
    width: 1.5px;
    padding: 8px 12px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
  
.scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}





/* Content Animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.5s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}




/* About Section Active Status */
.active-status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FF0000; /* #FF0000 for Red color & #00df6f for Green color */
  display: inline-block;
}



/* ===============================================
--- Notification Styling
=============================================== */

#notification {
    visibility: hidden;
    width: auto;
    height: auto;
    /*margin-left: -125px;*/
    margin: auto;
    /* background-color: rgb(63, 63, 63); */
    background: dodgerblue;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    white-space: normal;
    padding: 10px;
}
  
/* Notification Link Style Color */
a.notif-link{
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      color: #fff !important;
}
  
/* Show the notification when clicking on a button (class added with JavaScript) */
#notification.show {
    visibility: visible; /* Show the notification */
    /* Add animation: Take 0.5 seconds to fade in and out the notification.
      However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#notification.hide {
    visibility: hidden;
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}
  
/* Animations to fade the notification in and out */
@-webkit-keyframes fadein {
    from {
      bottom: -50px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
}
  
@keyframes fadein {
    from {
      bottom: -50px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
}
  
@-webkit-keyframes fadeout {
    from {
      bottom: 0;
      opacity: 1;
    }
    to {
      bottom: -50px;
      opacity: 0;
    }
}
  
@keyframes fadeout {
    from {
      bottom: 0;
      opacity: 1;
    }
    to {
      bottom: -50px;
      opacity: 0;
    }
}